.bg{
    background-color: #f8f8f8;
}
.logo{
    height: 150%;
    margin-top: 20px;
}
.custom-button {
    align-items: center;
    color: #ffffff;
    margin-top: 7.5%;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.custom-button:hover {
    color: rgba(25, 0, 255, 0.418)
}
.highlight-bar {
    border-radius: 70px;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 4px;
    width: 0;
    background-color: rgba(25, 0, 255, 0.418);
    transform: translateX(-50%);
    transition: width 0.5s ease;
}
.custom-button:hover .highlight-bar {
    width: 100%;
}
.hat {
    justify-items: center;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.hat > div {
    height: 30%;
}
.h{
    line-height: 16px;
    font-size: 14px;
    color:  #707070;

}
.mytext {
    text-transform: capitalize;
    width: 300px;
    height: 50px;
    color: black;
}
.mytext1 {
    text-transform: capitalize;
    width: 300px;
    height: 50px;
    color: blue;
}
.mytext1:active{
    border-color: blue;
    box-shadow: 0 0 5px blue ;
}
footer {
    padding: 20px;
    text-align: center;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}